---
import SectionBanner from "../shared/Section_Banner.astro";

const items = [
  {
    title: "Development and design advantages",
    listitem1:
      "As a developer who designs, I rely on Javascript languages and frameworks, mainly NextJs.",
    listitem2:
      " My knowledge on coding gives me the advantage to design and breaking the limits!",
    listitem3: "Colorful, modernist style, fast acting, headless cms niche",
    listitem4: "simple and minimalist modern no BS... straight to the point,",
    img: "img",
  },

  {
    title: "Services Include:",
    listitem1: "I assist with: domains, hosting, web development and design.  ",
    listitem2:
      "In other words... pretty much everything from setup to ongoing service, leaving you more time to spend on your business!",
    listitem3:
      "Content Management System (CMS) Development: Building custom or utilizing existing platforms like WordPress, Drupal, or Joomla for managing website content.",
    listitem4:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet enim officiis ipsum veniam,",
    img: "img",
  },

  {
    title: "Mobile Optimization",
    listitem1:
      "Studies show that the majority of website visitors use phones and tablets, as opposed to computers at home. ",
    listitem2: "SEO-Lorem ipsum dolor et enim officiis ipsum veniam,",
    listitem3:
      "Lorem ipsum dolor sit amet consectetur adip Amet enim officiis ipsum veniam,",
    listitem4: "Lorem ipsum dolor . Amet enim officiis ipsum veniam,",
    img: "img",
  },
  {
    title: "maintenance",
    listitem1:
      "Monthly Updates consectetur adipisicing elit. Amet enim officiis ipsum veniam, ",
    listitem2:
      "Need to make a change? Or add more content or photos?. Monthly updates are available with subscription.",
    listitem3: "Lorem ipsum do officiis ipsum venfdfiam,",
    listitem4:
      "Lorem ipsum dolor sit amet consectet nim officiis ipsum veniam,",
    img: "img",
  },
];
---

<section id="services" class="py-5 bg-caribbean text-test1">
  <div class="text-lavender">
    <SectionBanner
      title="Services CTA"
      paragraph="What do you need help with? why I've build LC.... or why LC was built.... talk about passion behind quick, modern minimalist style, straight to the point. "
    />
  </div>
  <div id="wrapper" class="flex justify-center pb-5 mb-5 md:p-5 p-0">
    <div id="container" class="max-w-[1060px]">
      <div id="grid" class="grid md:grid-cols-2 grid-cols-1 gap-x-5 gap-y-12">
        {
          items.map((item) => (
            <div id="sq" class="md:p-3 p-5 bg-onyx">
              <div class="flex justify-center items-center">
                <h2 class="pb-2 capitalize underline font-bold text-2xl text-test2">
                  {item.title}
                </h2>
                {/* <i class="bg- ml-2">img</i> */}
              </div>
              <ul class="text-lg pb-2">
                <li>- {item.listitem1}</li>
                <li>- {item.listitem2}</li>
                <li>- {item.listitem3}</li>
                {/* <li>- {item.listitem4}</li> */}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
