---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import HeroContent from "../components/shared/HeroContent.astro";
// const allDemoCTAs = await Astro.glob("./demos-cta/*.md");
import FooterBannerCTA from "../components/shared/FooterBannerCTA.astro";
// import LandingPgEx from "../components/sections/LandingPgEx.astro";
import test1 from "../images/screenshots/site1.png";
import test2 from "../images/screenshots/site2.png";

const items = [
  {
    title: "The Growing Pup",
    p: "WEBSITE BUILD + BASIC SUPPORT SERVICES ",
    price: "99",
    demoLink: "/the-growing-pup-demo",
    screenshot: test1,
  },
  {
    title: "The Rising Carnivore",
    p: "WEBSITE BUILD + BASIC SUPPORT SERVICES ",
    price: "199",
        demoLink: "/rising-carnivore-demo",
    screenshot: test2,
  },
];
---

<MainLayout>
  <div id="client-templates-hero" class="mb-5 bg-">
    <HeroContent
      title="Client Templates"
      attention="What do you need for a website?"
      interest="Or Rising Carnivore? You need a website not just to promote your business, but have the the ablity to tell your story and brand"
      desire="The Growing Pup? A template for small businesses just starting out,  increased potential customers, easier to find on Google."
      action="A custom website that fits your business, personality, goals... and you alone."
      heroImg="https://images.pexels.com/photos/3046629/pexels-photo-3046629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>

  <!-- ?DO I NEED??? v-->
  <!-- <LandingPgEx /> -->
  <!-- ?DO I NEED??? ^-->

  <div id="wrapper" class="bg-test2 border border-black py-[70px] my-[150px]">
    <div id="container" class="2xl:mx-[150px]">
      <div id="grid-wrapper" class="p-5 bg-test">
        <div
          id="grid"
          class="bg-test grid md:grid-cols-2 grid-cols-1 gap-y-[55px]"
        >
          {
            items.map((item) => (
              <div
                id="sq"
                class="bg-teal text-papaya xl:mx-5 mx-3 xl:px-4 px-1 py-2 rounded"
              >
                <div id="padding" class="py-2">
                  <div id="" class="p-2">
                    <h2>{item.title}</h2>
                    <p class="text-test2 2xl:text-2xl md:text-lg text-md">
                      {item.p}
                    </p>
                  </div>
                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                    <!--*--CURRENTLY: figure out run build error v *--*-->
                    <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                  <Image src={item.screenshot} alt={item.title} class="my-1" />
                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                    <!--*--CURRENTLY: ^ *--*-->
                    <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                  <div id="" class="text- font-bold p-2">
                    <p class="pl-1 pt-1 text-test1">
                      <span class="text-4xl">${item.price}</span>
                      /year
                    </p>
                  </div>


                        {/*  */}
                        {/*  */}
                        {/*  */}


                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                    <!--*--CURRENTLY: link markdown dynamic pg *--*-->
                    <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                  <button
                    id="btn"
                    class="bg-caribbean text-test2 hover:text-orange pt-1 px-2 py-1 my-2"
                  >
                    <a href={item.demoLink}>see demo</a>
                  </button>
                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                  <!--*--*--*--*--*-^^^-*--*--*--*--*--*--*--*--*-->
                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->

                        {/*  */}
                        {/*  */}
                        {/*  */}


                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                    <!--*--CURRENTLY: MAP OUT COMP *--*-->
                    <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                  <div id="list-item-container" class="pl-5">
                    <ul class="list-disc">
                      <li>Lorem ipsum dolor sit</li>
                      <li>
                        reprehenderit quam obcaecati dignissimos illum commodi
                        quae praesentium reiciendis dolores.listItem1
                      </li>
                      <li>
                        amet consectetur adipisicing elit. Architecto magni
                        voluptates, modi, libero asperiores explicabo
                        exercitationem sint provident quasi atque-listItem3
                      </li>
                      <li class="">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur ea tempore vidunt eaque quidem!
                      </li>
                    </ul>
                  </div>
                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
                  <!--*--*--*--*--*-^^^-*--*--*--*--*--*--*--*--*-->
                  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->


                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <FooterBannerCTA title="to contact ->" link="/contact " />
</MainLayout>
