---
import HowItWorks from "../components/sections/HowItWorks.astro";
// import LandingPgEx from "../components/sections/LandingPgEx.astro";
import MainLayout from "../layouts/MainLayout.astro";
import HeroContent from "../components/shared/HeroContent.astro";
import SubSectionBanner from "../components/shared/SubSection_Banner.astro";
import FooterBannerCTA from "../components/shared/FooterBannerCTA.astro";

const allWorks = await Astro.glob("./works/*.md");
---

<MainLayout>
  <div id="hero-section" class="mb-5 ">
    <HeroContent
      title="Laughing Coyote Dev"
      attention="A blog in progress"
      interest=""
      desire=""
      action=""
      heroImg="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>

    <HowItWorks />
 
    <!-- <LandingPgEx /> -->
  <section id="featured-websites" class="2xl:px-[150px] px-1">
    <div id="wrapper" class="bg-test mt-[70px] pt-5">
      <div id="container" class="py-5 my-5">
        <SubSectionBanner title="Featured Websites" />
        <div id="grid-wrapper" class="2xl:px-[50px] px-5 mb-[50px]">
          <div  
            id="grid"
            class="mt-5 pt-5 grid md:grid-cols-2 grid-cols-1 2xl:gap-[50px] gap-4 px-0"
          >
            {
              allWorks.map((work) => (
                <div id="sq" class="md:pt-0 pt-5">
                {/* <a href={work.frontmatter.websiteUrl}> */}
                  <a href={work.url}>
                  <p class="absolute text-white bg-onyx px-2 py-1 border border-black hover:text-test1">visit site</p>    <!--TODO AFTER COMPLETED CUSTOMER SITES: ADD TESIMONIALS -->
                    <div id="img-container">
                    <img
                      src={work.frontmatter.image.url}
                      alt={work.frontmatter.image.alt}
                      class="border border-black hover:border-2 hover:cursor-pointer lg:h-[450px] md:h-[300px] h-400px w-full"
                    />
                      </a>
                    </div>
                    <div id="content-container" class="bg-papaya border-2 hover:border border-onyx mt-5 px-4 py-3">
                      <a href={work.frontmatter.websiteUrl}>
                      <h2 class="text-test lg:text-4xl md:text-3xl text-2xl font- pb-2">
                        {work.frontmatter.title}
                      </h2>
                      <p class="">{work.frontmatter.description }<span class="">
                        <a href={work.frontmatter.websiteUrl} class="underline text-teal">click here</a>
                        </span>to visit site</p>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <FooterBannerCTA title="to client templates ->" link="/#client-templates" />
</MainLayout>
