---
import MainLayout from "../layouts/MainLayout.astro";
import SubSectionBanner from "../components/shared/SubSection_Banner.astro";
import HeroContent from "../components/shared/HeroContent.astro";

const allWorks = await Astro.glob("./works/*.md");
---

<MainLayout>
  <div id="hero-section" class="mb-5">
    <HeroContent
      title="Laughing Coyote Dev"
      attention="A blog in Progress"
      interest="for small business owners"
      desire="for creatives"
      action="and web developers!"
      heroImg="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>

  <section id="featured-websites" class="2xl:px-[150px] px-1">
    <div id="wrapper" class="bg-test mt-[70px] pt-5">
      <div id="container" class="py-5 my-5">
        <!-- <SubSectionBanner title="Writing" /> -->
        <div id="grid-wrapper" class="">
          <div id="grid" class="mt-5 pt-5 flex flex-col gap-y-[90px]">
            {
              allWorks.map((work) => (
                <div id="sq" class="md:pt-0 pt-5 flex items-center">
                  {/* <a href={work.frontmatter.websiteUrl}> */}
                  <a href={work.url}>
                    {/* <p class="absolute text-white bg-onyx px-2 py-1 border border-black hover:text-test1">visit site</p>    <!--TODO AFTER COMPLETED CUSTOMER SITES: ADD TESIMONIALS --> */}
                    <div id="img-container">
                      <img
                        src={work.frontmatter.image.url}
                        alt={work.frontmatter.image.alt}
                        class="border border-black hover:cursor-pointer w-400px h-"
                      />
                    </div>
                  </a>
                  <div
                    id="content-container"
                    class="bg-papaya  ml-2 mt-2 px-4 max-w-[900px]"
                  >
                    <div id="content-padding" class="">
                      <a href={work.frontmatter.websiteUrl}>
                        <h2 class="hover:font-semibold text-test lg:text-2xl md:text-3xl text-2xl underline pb-2">
                          {work.frontmatter.title}
                        </h2>
                        <p class="">
                          {work.frontmatter.description}
                          <span class="">
                            <a
                              href={work.frontmatter.websiteUrl}
                              class="underline text-teal"
                            >
                              click here
                            </a>
                          </span>
                          to visit site
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--TODO: CURRENTLY: NEW CONTACT SECTION -->
  <section
    id="contact"
    class="border border-black m-5 p-5 my-[150px] mx-[130px]"
  >
    <h2 class="text-4xl font-bold">Contact</h2>
    <p>Best way to reach me would be through email : elsahvy@gmail.com</p>
    <p>
      I am always looking for opportunities to further my skills... and work
      with other like minded people in tech. If you would like to contact me,
      you can also find me at sm and sm
    </p>
  </section>
</MainLayout>
