---
import ButtonProps from "./shared/ButtonProps.astro";

export interface Props {
  title: string;
  // listitem1: string;
  listitem1: string;
  listitem2: string;
  listitem3: string;
}

const {
  title,
  //  listitem1,
  listitem1,
  listitem2,
  listitem3,
} = Astro.props as Props;
---

<div id="grid-wrapper" class="flex justify-center">
  <div id="grid" class="">
    <div id="sq1" class="pt-5 pb-1 px-5">
      <img
        src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="border border-black"
      />
    </div>
    <div id="sq2" class="lg:px-1 px-3 ml-5 text- bg-">
      <div id="padding" class="lg:p-5 p-1 bg-">
        <div class="">
          <h1 class="text-test lg:text-4xl md:text-3xl text-2xl font- pb-2">
            {title}
          </h1>
          <div>
            <!-- <h2 class="lowercase md:text-lg md:text-md text-sm">
              {listitem1}
            </h2> -->
            <p class="mt-1 lowercase md:text-lg md:text-md text-sm">
              {listitem1}
            </p>
            <p class="lowercase md:text-lg text-sm my-1">
              {listitem2}
              <p class="lowercase md:text-lg md:text-md text-sm">{listitem3}</p>
            </p>
            <!-- * BTN WRAPPER   v-->
            <!-- <ButtonProps
            btn1="visit     "
            btn2="contact"
            btn1Link="/#services"
            btn2Link="/#contact"
          /> -->
            <!-- * BTN WRAPPER   ^-->
          </div>
        </div>
      </div>
      <!-- /////////////////////////////////// -->
    </div>
  </div>
</div>
